<table class="table table-hover">
  <thead>
    <tr>
      <th>Código</th>
      <th>Nome</th>
      <th>Cargo</th>
      <th>Endereço</th>
      <th>Cidade</th>
      <th>CEP</th>
      <th>País</th>
      <th>Telefone</th>
      <th>Fax</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let clienteTabela of clientes">
      <a [routerLink]="[clienteTabela.codigo]">
        <td>{{clienteTabela.codigo}}</td>
      </a>
      <a [routerLink]="[clienteTabela.nome]">
        <td>{{clienteTabela.nome}}</td>
      </a>
      <a [routerLink]="[clienteTabela.cargo]">
        <td>{{clienteTabela.cargo}}</td>
      </a>
      <a [routerLink]="[clienteTabela.endereco]">
        <td>{{clienteTabela.endereco}}</td>
      </a>
      <a [routerLink]="[clienteTabela.cidade]">
        <td>{{clienteTabela.cidade}}</td>
      </a>
      <a [routerLink]="[clienteTabela.cep]">
        <td>{{clienteTabela.cep}}</td>
      </a>
      <a [routerLink]="[clienteTabela.pais]">
        <td>{{clienteTabela.pais}}</td>
      </a>
      <a [routerLink]="[clienteTabela.telefone]">
        <td>{{clienteTabela.telefone}}</td>
      </a>
      <a [routerLink]="[clienteTabela.fax]">
        <td>{{clienteTabela.fax}}</td>
      </a>
    </tr>
  </tbody>
</table>